:root{
    --gray-1: #333333;
    --gray-2: #4f4f4f;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Space Mono', sans-serif;
}

.header-container{
    display: flex;
    width: 100%;
    min-width: 320px;
    height: 15vh;
    padding: 24px;
    justify-content: space-between;
}

.error--title{
    font-size: 2.4rem;
    font-weight: bold;
    font-family: 'Inconsolata', sans-serif;
    line-height: 2.5rem;
    letter-spacing: -0.08rem;
}

.dev--logo{
    height: 100%;
}
